@model AC.Web.Models.Catalog.CatalogPagingFilteringModel
@using AC.Web.Models.Catalog;

<div class="product-selectors">
    @if (Model.AllowItemViewModeChanging)
    {
        <div class="product-viewmode">
            <span>Вид</span>
            @if (Model.AvailableViewModes.Count > 1)
            {
                var gridMode = Model.AvailableViewModes[0];
                var listMode = Model.AvailableViewModes[1];

                <a class="viemode-icon grid @if(gridMode.Selected) {<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">@gridMode.Text</a>
                <a class="viemode-icon grid @if(listMode.Selected) {<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>
            }
        </div>
    }
    @*сортировка*@
    @if (Model.AllowItemSorting)
    {
        <div class="product-sorting">
            <span>Сортировать по:</span>
            @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
        </div>
    }
    @if (Model.AllowUsersToSelectPageSize)
    {
        <div class="product-page-size">
            <span>Показать</span>
            @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })
            <span>на странице</span>
        </div>
    }
</div>