@model List<FooterTopicModel>
@using AC.Core
@using AC.Core.Infrastructure
@using AC.Web.Models.Common

<div class="footer">
    <div class="footer-upper">
        <div class="footer-block information">
            <div class="title">
                <strong>@T("Footer.Information")</strong>
            </div>
            <ul class="list">
                <li><a href="">Карта сайта</a></li>
                @foreach(var topic in Model.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="">@topic.Name</a></li>
                }
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            </ul>
        </div>
        <div class="footer-block customer-service">
            <div class="title">
                <strong>@T("Footer.UserService")</strong>
            </div>
            <ul class="list">
                <li><a href="">@T("Search")</a></li>
                <li><a href="">@T("News")</a></li>
                <li><a href="">@T("Products.RecentlyViewedProducts")</a></li>
                <li><a href="">@T("Products.NewProducts")</a></li>
            </ul>
        </div>
        <div class="footer-block my-account">
            <div class="title">
                <strong>@T("Footer.MyAccount")</strong>
            </div>
            <ul class="list">
                <li><a href="">@T("Account.MyAccount")</a></li>
                <li><a href="">@T("Account.UserOrders")</a></li>
                <li><a href="">@T("ShoppingCart")</a></li>
                <li><a href="">@T("Wishlist")</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">Все права защищены @DateTime.Now.Year</span>
        </div>
    </div>
</div>