@{ 
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Partial("_Notifications")

<div class="master-wrapper-page">
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="header-menu">
        @Html.Action("TopMenu", "Catalog")
    </div>
    <div class="master-wrapper-content">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
    </div>
    @Html.Action("Footer", "Common")
</div>